@model CarsModels;

@{
}
<head>
    
</head>
<body>
    <header><h1 class="text-center">Evaluación 1</h1></header>
    <div class="container">
        <h1>Model Auto: @Model.ModeloAuto </h1>
        <h1>Marca Auto: @Model.MarcaAuto </h1>
        <h1>Precio Auto: $@Model.PrecioAuto </h1>
    </div>

</body>